.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px salmon;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: tomato;
    box-shadow: 5px 5px 5px violet;
}

.heading_div2{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-size: cover;
    background-position: center;
}